body {
  @extend %lato-400;
  color: $black;
  background-color: $white;
  line-height: 1;
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.container {
  padding: 0 138px;
  // max-width: 1920px;
  margin: 0 auto;

  @include mq ('desktop-2') {
    padding: 0 120px;
  }
  @include mq ('desktop') {
    padding: 0 100px;
  }
  @include mq ('tablet-2') {
    padding: 0 80px;
  }
  @include mq ('tablet') {
    padding: 0 60px;
  }
  @include mq ('phone') {
    padding: 0 40px;
  }
}



  //------ прибиваем footer к низу страницы
  // .wide-wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   height: 100%;
  //   background-color: $green;
  // }

  // main {
  //   flex: 1 0 auto;
  // }

  // footer {
  //   flex: 0 0 auto;
  // }

  //-------------